{% extends 'base.html' %}

{% block title %} About / {% endblock title %}

{% block body %}

<br>    
<style>
img {
  float: left;
}
</style>

<section id="services" class="services">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>ABOUT</h2>
          <p>ABOUT US</p>
          <hr class="featurette-divider">

        </div>
<p><img src="/static/assets/img/about/1.png" ALIGN=”left” width="600" height="490"></p>
<ol>
  <p style="font-size-20px;line-height: 30px;"> We are a fast-paced, high-growth company which consists of a core team of full stack developers, front end as well as backend experts along with digital and marketplace wizards who help you ecosystem survive and adapt in the dynamic environment of this fast growing digital universe.</p>
  
  <p style="font-size-20px;line-height: 30px;"> We offer tailored solutions that empower sellers to navigate complex market dynamics and make business-critical decisions across every e-commerce touchpoint.</p>
  
  <p style="font-size-20px;line-height: 30px;"> We drive unparalleled success for large/medium/small Sellers and brands in digital world whether it is Google shopping and SEO.  Marketplaces such as Amazon, Walmart, eBay, Jet, etc.</p>
  
  <p style="font-size-20px;line-height: 30px;"> Shopping Carts Bigcommerce, Shopify, Magento, etc. and much more through best in class in-house team of consultants who have been in the market over decade evolving along with the fast pace technology.</p>

  </ol>
<br>
<br>
<br>
<br>
<hr class="featurette-divider">
<br>
<br>
<br>
<br>
</div>
</section>


{% endblock body %}