{% extends 'base.html' %}

{% block title %}Digital Marketing / {% endblock title %}
{% block body %}

<section id="services" class="services">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>SERVICES</h2>
          <p>DIGITAL MARKETING</p>
        </div>
        </div>
<br>
<div class="container" data-aos="fade-up">
<h4 style="text-align:center;">One-Stop Digital Marketing Agency For All Your Needs !</h4>
<hr class="featurette-divider">
<br>
<img src="/static/assets/img/dm/dm.png" align="left" width="500" height="380" /><br><p style="font-size-12px;line-height: 25px;">
ZapCommerce provides all aspects of Digital Marketing solutions, including promotional and advertising. We are a digital solutions provider renowned for its strategic brand services, Search engine optimization, Social Media Marketing, SEM, PPC, Content Marketing and many more.
<br>
<br>Our Team in is a combination of creative, Skillful and result oriented employees, who are passionate to assist our clients with E-commerce, Website development & Digital Marketing Services.
<br>
<br>We are a pure digital transformation agency and master at providing intelligent Content Marketing services & with our team expertise we help our clients to make most out of their business.
</div>
<br>
<br>
<br>
<br>
<br>
 <!-- ======= Services Section ======= -->
   <div class="container">
        <div class="row">
          <div class="col-lg-4 col-md-1 d-flex align-items-stretch" data-aos="zoom-in" data-aos-delay="100">
            <div class="icon-box">
              <div class="icon"><i class="bx bxl-google"></i></div>
              <h4>DIGITAL MARKETING SERVICES</h4>
              <p>ZapCommerce provides all Digital Marketing Services like SEO PPC, SEM, Social media marketing, Digital Ad Campaigns, Online reputation management and many more to boosts your online presence.</p>
            </div>
          </div>

          <div class="col-lg-4 col-md-1 d-flex align-items-stretch mt-4 mt-md-0" data-aos="zoom-in" data-aos-delay="200">
            <div class="icon-box">
              <div class="icon"><i class="bx bx-network-chart"></i></div>
              <h4>E-COMMERCE DEVELOPMENT</h4>
              <p>We develop fully customizable e-commerce stores in various open source platforms such like WooCommerce, OpenCart, Magento and many more. </p>
            </div>
          </div>
           <div class="col-lg-4 col-md-1 d-flex align-items-stretch mt-4 mt-lg-0" data-aos="zoom-in" data-aos-delay="300">
            <div class="icon-box">
              <div class="icon"><i class="bx bx-devices"></i></div>
              <h4>DIGITAL CAMPAIGN</h4>
              <p>ZapCommerce runs no. of digital marketing campaigns based on research, media planning and result-oriented strategies.We offer all Digital marketing services.</p>
            </div>
          </div>
          </div>
          </div>
          <br>
        <div class="container">
        <div class="row">
          <div class="col-lg-4 col-md-1 d-flex align-items-stretch" data-aos="zoom-in" data-aos-delay="100">
            <div class="icon-box">
              <div class="icon"><i class="bx bx-world"></i></div>
              <h4>WEB DEVELOPMENT</h4>
              <p>A website is the face of online business and a road to take your business globally. All our websites are SEO Friendly, easy to navigate, responsive, browser compatible and speed optimized. Our highly skilled team goes with a deep requirement analysis to help you get a fully polished website.</p>
            </div>
          </div>
          <div class="col-lg-4 col-md-1 d-flex align-items-stretch" data-aos="zoom-in" data-aos-delay="100">
            <div class="icon-box">
              <div class="icon"><i class="bx bx-search-alt"></i></div>
              <h4>SEARCH ENGINE OPTIMIZATION</h4>
              <p>ZapCommerce comes to your help with strategic SEO services. We perform all off-page and on-page SEO activities to help you meet your business goals by staying ahead your competitors.</p>
            </div>
          </div>
            <div class="col-lg-4 col-md-1 d-flex align-items-stretch" data-aos="zoom-in" data-aos-delay="100">
            <div class="icon-box">
              <div class="icon"><i class="bx bx-paint-roll"></i></div>
              <h4>BRANDING & CREATIVE</h4>
              <p>Your Brand identity is what your business talks about. We have been a strategic brand development consultancy helping people build their brands by designing logos, flyers, brouchures, banners and corporate identity. Our mission is to offer a holistic branding solution to every company big and small.</p>
            </div>
          </div>
          </div>
        </dvi>
        <div class="container">
        <div class="row">
          <div class="col-lg-4 col-md-1 d-flex align-items-stretch" data-aos="zoom-in" data-aos-delay="100">
            <div class="icon-box">
              <div class="icon"><i class="bx bxl-facebook"></i></div>
              <h4>SOCIAL MEDIA MARKETING</h4>
              <p>Attract more no. of potential customers through social media marketing. We offer SMM for all platforms like Facebook, Linkedin, Instagram, Youtube and Twitter. We make sure you achieve strong online reputation through our creative content and constant page optimization.</p>
            </div>
          </div>
          <div class="col-lg-4 col-md-1 d-flex align-items-stretch" data-aos="zoom-in" data-aos-delay="100">
            <div class="icon-box">
              <div class="icon"><i class="bx bx-book-content"></i></div>
              <h4>CONTENT MARKETING</h4>
              <p>Make sure your content reaches the right audience. Our team redefines your content to your audience. Our team targets your audience at every stage of content distribution with relevant and timely content updates. We provide email marketing, SMS campaigns, whatsapp campaigns as well as voice calls to help you reach masses.</p>
            </div>
          </div>
          <div class="col-lg-4 col-md-1 d-flex align-items-stretch" data-aos="zoom-in" data-aos-delay="100">
            <div class="icon-box">
              <div class="icon"><i class="bx bx-mouse"></i></div>
              <h4>SEARCH ENGINE MARKETING / PPC</h4>
              <p>ZapCommerce closes the gap between you and your global customers by helping optimize your website using our PPC techniques. Pay Per Click(PPC) is a part of the integral component of off-page SEO. It acts like fuel efficient technique that provides outbound links growing your virtual identity.</p>
            </div>
          </div>
        
        </div>

      </div>
      <br>
      <br>
      <br>
      <hr class="featurette-divider">
      <br>
    </section>
   
    <!-- End Services Section -->
</section>
{% endblock body %}