{% extends 'base.html' %}

{% block title %} Home / {% endblock title %}



{% block body %}

    <!-- ======= carousel ======= -->
    <br>
    <section id="clients" class="clients">
      <div class="container" data-aos="zoom-in">
      <div class="owl-carousel clients-carousel">
      <p>
      <a href="https://www.amazon.com">
      <img src="/static/assets/img/log/amazon.svg">
      </a>
      </p>
      <p>
      <a href="https://www.walmart.com">
      <img src="/static/assets/img/log/walmart.svg">
      </a>
      </p>
      <p>
      <a href="https://www.ebay.com">
      <img src="/static/assets/img/log/ebay.svg">
      </a>
      </p>
      <p>
      <a href="https://www.magento.com">
      <img src="/static/assets/img/ecom/magento.svg">
      </a>
      </p>
      <p>
      <a href="https://www.shopify.com">
      <img src="/static/assets/img/ecom/shopify.png">
      </a>
      </p>
      <p>
      <a href="https://www.channeladvisor.com">
      <img src="/static/assets/img/ecom/ca1.png">
      </a>
      </p>
      <p>
      <a href="https://www.bigcommerce.com">
      <img src="/static/assets/img/ecom/bigcom.png">
      </a>
      </p>
      <p>
      <a href="https://www.shipstation.com">
      <img src="/static/assets/img/log/shipstation.png">
      </a>
      </p>
      <p>
      <a href="https://www.appeagle.com">
      <img src="/static/assets/img/ecom/appeagle.png">
      </a>
      </p>
      
       </div>

      </div>
    </section><!-- carousel -->

    <!-- ======= Services Section ======= -->
    <section id="services" class="services">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>Services</h2>
          <p>Check our Services</p>
        </div>

        <div class="row">
          <div class="col-lg-3 col-md-4 d-flex align-items-stretch" data-aos="zoom-in" data-aos-delay="100">
            <div class="icon-box">
              <div class="icon"><i class="bx bxl-amazon"></i></div>
              <h4><a href="/ecommerce">eCommerce Services</a></h4>
              <p>Complete eCommerce Solutions<br> Implementation, Integration, Migration & Support</p>
            </div>
          </div>

          <div class="col-lg-3 col-md-4 d-flex align-items-stretch mt-4 mt-md-0" data-aos="zoom-in" data-aos-delay="200">
            <div class="icon-box">
              <div class="icon"><i class="bx bxl-google"></i></div>
              <h4><a href="/dm">Digital Marketing</a></h4>
              <p>Help your business grow using our digital marketing solutions which ranges from<br>Branding, Social Media, Content, SEO... </p>
            </div>
          </div>
           <div class="col-lg-3 col-md-5 d-flex align-items-stretch mt-4 mt-lg-0" data-aos="zoom-in" data-aos-delay="300">
            <div class="icon-box">
              <div class="icon"><i class="bx bx-desktop"></i></div>
              <h4><a href="/soft">Software Services</a></h4>
              <p>Mobile App Development <br> Website Development, <br> Chatbots & Much More...</p>
            </div>
          </div>
          <div class="col-lg-3 col-md-5 d-flex align-items-stretch mt-4 mt-lg-0" data-aos="zoom-in" data-aos-delay="300">
            <div class="icon-box">
              <div class="icon"><i class="bx bx-video"></i></div>
              <h4><a href="/media">Media Designing & Creation</a></h4>
              <p>Our range of services includes 2D/3D Video Creation.<br>Image Creation,Designing & Optimization.</p>
            </div>
          </div>


        </div>

      </div>
    </section>
    <!-- End Services Section -->

    

    <!-- ======= Testimonials Section ======= -->
    <section id="services" class="services">
      <div class="container" data-aos="fade-up">
    <div class="section-title">
          <h2>testimonials</h2>
          <p>Client Testimonials</p>
        </div>
        </div>
    <section id="testimonials" class="testimonials">
      <div class="container" data-aos="zoom-in">
    
        <div class="owl-carousel testimonials-carousel">

          <div class="testimonial-item">
            <img src="/static/assets/img/client/dc1.png" class="testimonial-img">
            <h3>District Camera</h3>
            <h4>Eldar Tariverdi - Owner</h4>
            <p>
              <i class="bx bxs-quote-alt-left quote-icon-left"></i>
        <p>With ZapCommerce we as an organisation have benefited a lot in terms of our growth in e-commerce business apart from brick & mortar. We have grown exponentially with the expert counselling on data optimisation, digital imaging, content creation, choosing appropriate eCommerce SaaS solution, digital marketing and much more. If you are troubled of fake companies giving false hopes ZapCommerce is your option.</p>
              <i class="bx bxs-quote-alt-right quote-icon-right"></i>
            </p>
          </div>

          <div class="testimonial-item">
            <img src="/static/assets/img/client/ppa.png" class="testimonial-img">
            <h3>Physician Partners of America</h3>
            <h4>Patrick Foote - Manager</h4>
            <p>
              <i class="bx bxs-quote-alt-left quote-icon-left"></i>
             <p>We are well satisfied clients of ZapCommerce as this organisation is very well organised to deliver what you require. We had issues with our website optimisation with previous vendors and this company surpass all the odds and delivered. They are also very excellent in multimedia project, specially the 2d animation videos we had were class apart and beyond expectations. Keep growing ZC!</p>
              <i class="bx bxs-quote-alt-right quote-icon-right"></i>
            </p>
          </div>

          <div class="testimonial-item">
            <img src="/static/assets/img/client/gal.jpg"  class="testimonial-img">
            <h3>Gallery Chandeliers</h3>
            <h4>Abe Tobias - Manager</h4>
            <p>
              <i class="bx bxs-quote-alt-left quote-icon-left"></i>
        <p>Being in Chandelier business, we have a lot of trouble with our image optimisations as creating white background images for big size chandeliers is often a task. But with the help of ZapCommerce content team we could achieve some extra ordinary results. It has helped us as lot to change our business on marketplaces and its growth.Their dedicated team provided consultancy in our eCommerce & SEO Business.</p>

              <i class="bx bxs-quote-alt-right quote-icon-right"></i>
            </p>
          </div>


        </div>

      </div>
    </section>
    
    <!-- End Testimonials Section -->
     
     <!-- ======= Contact Section ======= -->
     
    <section id="contact" class="contact">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>Contact</h2>
          <p>Contact Us</p>
        </div>

        <div>

          <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2607.1744363768657!2d-123.98296158431351!3d49.19725037932217!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x5488a1882fe3758b%3A0x8acf7ea991d86960!2s2586%20Highland%20Blvd%2C%20Nanaimo%2C%20BC%20V9S%203N8%2C%20Canada!5e0!3m2!1sen!2sin!4v1591306546939!5m2!1sen!2sin" width=100%; height=270px; frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
        </div>

        <div class="row mt-5">

          <div class="col-lg-4">
            <div class="info">
              <div class="address">
                <i class="icofont-google-map"></i>
                <h4>Location:</h4>
                <p><img src="/static/assets/img/flag/canada.png" width="30" height="18"> 2586 Highland Blvd, Nanaimo, BC V9S 3N8, Canada.<br><img src="/static/assets/img/flag/india.png" width="30" height="18"> 605-Skyline Corner, Plot no-32, Sector-3, Navi Mumbai,India.</p>
              </div>

              <div class="email">
                <i class="icofont-envelope"></i>
                <h4>Email:</h4>
                <p><a href=" mailto: zapcommerceinfo@gmail.com"> zapcommerceinfo@gmail.com</a></p>
              </div>

              <div class="phone">
                <i class="icofont-phone"></i>
                <h4>Call:</h4>
                <p> +1-(250) 802-4096<br> +91-9869901007</p>
              </div>

            </div>

          </div>

          <div class="col-lg-8 mt-5 mt-lg-0">

      <form method="post" action="/contact">
            {% csrf_token %}
              <div class="form-row">
                <div class="col-md-6 form-group">
                  <label for="name">Name</label>
                  <input type="text" name="name" class="form-control" id="name" placeholder="Name"/>
                  <div class="validate"></div>
                </div>
                <div class="col-md-6 form-group">
                <label for="name">Phone</label>
                <input type="phone" class="form-control" name="phone" id="name" placeholder="Phone no."/>
              </div>
                <div class="col-md-7 form-group">
                  <label for="email">Email address</label>
                  <input type="email" class="form-control" name="email" id="name" placeholder="Email"/>
                </div>
              </div>
              <div class="form-group">
               <label for="desc">Enter your Queries</label>
               <textarea class="form-control" id="subject" name="desc" rows="5" data-rule="required" data-msg="Please write something for us" placeholder="Write your queries"></textarea>
              </div>
              <button class="btn btn-warning" type="submit">SEND MESSAGE</button>

            </form>

          </div>

        </div>
       
      </div>
    </section>
    </section>

    <!-- End Contact Section -->

   
{% endblock body %}