{% extends 'base.html' %}

{% block title %}Media Designing & Creation / {% endblock title %}
{% block body %}

<section id="services" class="services">
      <div class="container" data-aos="fade-right">

        <div class="section-title">
          <h2>SERVICES</h2>
          <p>VIDEO CREATION</p>
        </div>
        </div>
    
        </div>
        <div class="container"-fluid>
        <h4>WHEN YOUR BUSINESS HAS EVOLVED FROM BRICK AND MORTAR TO ECOMMERCE, WHY ARE YOU STILL PRACTICING TRADITIONAL METHODS OF COMMUNICATION?
           JUSTIFYING A VIDEO INVESTMENT IS EASY:</h4>
        <p><ul>
        <li>Marketers who use videos grow revenue 49% faster than those who don’t.</li><br>
        <li>Video boosts traffic from search engines 157%.</li><br>
        <li>Landing pages with videos increase conversions 80%.</li><br>
        <li>Videos in emails increase click-through rates 200-300%.</li><br>
        <li>Users spend 88% more time on websites with video.</li></p>
        <br>
        <hr class="featurette-divider">

        </div>
        <br>
        <br>
        <div class="container" align="center" data-aos="fade-up">
       <video width = "700" height = "400" controls>
         <source src = "/static/assets/img/media/1.mp4" type = "video/mp4">      
       </video>

      </div>
    <br>
    <br>

  </div>
  <div class="container" align="center" data-aos="fade-up">
  <video width = "700" height = "400" controls>
         <source src = "/static/assets/img/media/2.mp4" type = "video/mp4">      
  </video>
  <br>
  <br>
  <br>
  <hr class="featurette-divider">
  
  </div>
<br>

<section id="services" class="services">
      <div class="container" data-aos="fade-right">

        <div class="section-title">
          <h2>SERVICES</h2>
          <p>IMAGES FOR MARKETPLACES</p>      
    </div>
</div>
<div class="container">
<h5 style="text-align:center;">White background creation & image optimization for marketplace listing of your products.</h5>
<br>
<hr class="featurette-divider">
<br>
<div class="container-fluid" data-aos="fade-up">
<br>
  <img src="/static/assets/img/media/4.jpg" align="left" width="540" height="300" />
    <img src="/static/assets/img/media/1.png" align="right" width="540" height="300" />


</div>
</div>
</div>


</section>

</section>

{% endblock body %}