{% extends 'base.html' %}

{% block title %}Software Services / {% endblock title %}
{% block body %}



 <section id="services" class="services">
      <div class="container" data-aos="fade-right">

        <div class="section-title">
          <h2>Services</h2>
          <p>MOBILE APP DEVELOPMENT</p>
        </div>
<br>
<img src="/static/assets/img/ss/mobileapp.png" align="left" width="400" height="350" /><br>
<div class="row">
<p style="font-size-10px;line-height: 25px;">
<div class="col-md-6"><div><table border="0"><tbody><tr><td><strong></strong></td><td><h4 style="text-align: left;"><strong>Native App Development</strong></h4><p style="text-align: left;">Translate business services to powerful iOS and Android apps with highly secure and smooth mobile apps.</p></td></tr></tbody></table></div></div>
 <div class="col-md-6"><div><table border="0"><tbody><tr><td><strong></strong></td><td><h4 style="text-align: left;"><strong>Hybrid App Development</strong></h4><p style="text-align: left;">With the help of cross app development services, expand businesses by supporting it with multiple platform mobile application.</p></td></tr></tbody></table></div></div>   
  </div> 
  <div class="row">
 <div class="col-md-6"><div><table border="0"><tbody><tr><td><strong></strong></td><td><h4 style="text-align: left;"><strong>eCommerce Mobile App</strong></h4><p style="text-align: left;">Translate your E-commerce store into a seamless and user-friendly E-commerce mobile app and broaden the reach of your business..</p></td></tr></tbody></table></div></div>
 <div class="col-md-6"><div><table border="0"><tbody><tr><td><strong></strong></td><td><h4 style="text-align: left;"><strong>Custom Mobile App </strong></h4><p style="text-align: left;">We streamline your business operation with mobile app solution.For instance, with CMS you can easily navigate  mobile screen to organize  publish content.</p></td></tr></tbody></table></div></div>
</div>
<br>
<br>
<br>
<hr class="featurette-divider">
<br>
<br>
<div class="container" data-aos="fade-left">
 <div class="section-title">
    <h2>Services</h2>
    <p>Website Development</p>
 </div>
<br>
<img src="/static/assets/img/ss/webdev.jpg" align="right" width="520" height="420" /><br>
<div class="row">
<p style="font-size-10px;line-height: 25px;">
<div class="col-md-6"><div><table border="0"><tbody><tr><td><strong></strong></td><td><h4 style="text-align: left;"><strong>Front End Development Services
</strong></h4><p style="text-align: left;">Our highly skilled front end developers start with the development process by designing the app architecture and the complete user interface.</p></td></tr></tbody></table></div></div>
 <div class="col-md-6"><div><table border="0"><tbody><tr><td><strong></strong></td><td><h4 style="text-align: left;"><strong>Backend Development Services</strong></h4><p style="text-align: left;">Our professional Backend developers work on databases, scripts and architecture of the website and bring the interface to life.</p></td></tr></tbody></table></div></div>   
  </div> 
  <div class="row">
 <div class="col-md-6"><div><table border="0"><tbody><tr><td><strong></strong></td><td><h4 style="text-align: left;"><strong>Ecommerce Web App Development</strong></h4><p style="text-align: left;">Translate your E-commerce store into a seamless and user-friendly E-commerce mobile app and broaden the reach of your business..</p></td></tr></tbody></table></div></div>
 <div class="col-md-6"><div><table border="0"><tbody><tr><td><strong></strong></td><td><h4 style="text-align: left;"><strong>Flexible Web Maintenance
</strong></h4><p style="text-align: left;">A website demands high maintenance and therefore we provide wide range of web maintenance services to ensure that your web app remains useable, bug-free and secure.</p></td></tr></tbody></table></div></div>
</div>
<br>
<br>
<hr class="featurette-divider">
<br>
<br>
<div class="container" data-aos="fade-right">
 <div class="section-title">
    <h2>Services</h2>
    <p>CHATBOT DEVELOPMENT</p>
 </div>
 <br>
<img src="/static/assets/img/ss/chat.png" align="left" width="500" height="360" /><br><p style="font-size-10px;line-height: 25px;">
<p>Enhance customer engagement of your business by supporting it with highly sophisticated Chatbot development services. By making use of ideal frameworks, APIs and plug-ins we support your business with a highly responsive and engaging Chatbot.</p>
<p>We develop chatbots for Sales &amp; Marketing with an objective of automating Business Processes inReal Estate, E-Commerce, Hospitality, Airlines, Broadcast TV and Human Resources. We devise end to end solutions for the automation through chatbots.</p>
<br>
<br>
 </div>
</div>
<br>
<br>
<br>
<br>
<br>
<br>
<br>

<hr class="featurette-divider">
</div>
</section>

{% endblock body %}